.default-color0.chart-bar{
    -fx-bar-fill: #1db734;
    -fx-background-radius: 3;
    -fx-border-color:black;
    -fx-border-width:1;
    -fx-border-radius: 3px;
}

.default-color1.chart-bar{
    -fx-bar-fill: #be1111;
    -fx-background-radius: 3;
    -fx-border-color:black;
    -fx-border-width:1;
    -fx-border-radius: 3px;
}
